<h1>Devices</h1>
{{#each existingDevices}}
<div>
  <ul>
    <li>id: {{ id }}</li>
    <li>location: ({{ x }}, {{ y }})</li>
    <li>ipAddr: {{ ipAddr }}</li>
    <li>pixelCount: {{ pixels.length }}</li>
  </ul>
</div>
{{/each}}
<a href="/devices/new">Enroll new device...</a>
